# LIST [item1,item2,item3,....,itemn]

In [2]:
list_1=['buet','ruet','kuet','cuet']
list_2=[1,2,3,4]

In [3]:
#list index
list_1[1]

'ruet'

In [4]:
list_2[2]

3

In [5]:
list_1[0]

'buet'

In [6]:
famber=[Shatabdi,Sharaswati,Shakti,Sharmistha]

NameError: name 'Shatabdi' is not defined

In [9]:
famber=[Sharaswati,Shakti,Sharmistha]

NameError: name 'Sharaswati' is not defined

In [10]:
famber=['Shatabdi','Sharaswati','Shakti','Sharmistha']

In [11]:
famber[0]

'Shatabdi'

In [12]:
letters=[a,b,c,d,e]

NameError: name 'a' is not defined

In [13]:
letters=['a','b','c','d','e']

In [14]:
letters[4]

'e'

In [15]:
letters[5]

IndexError: list index out of range

# SLICING (0 to upperrange-1)

In [18]:
letters[0:3]    #index(0,1,2)

['a', 'b', 'c']

In [19]:
letters[1:3]    #index(1,2)

['b', 'c']

In [21]:
letters[:4]    #index(0 to 3)

['a', 'b', 'c', 'd']

In [23]:
letters[2:]    #index(2 to last)

['c', 'd', 'e']

In [3]:
alpha=['A','B','C','D']
alpha[1:]

['B', 'C', 'D']

# TYPE

In [24]:
type(letters)

list

In [25]:
type(letters[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1524584423.py, line 1)

# UPDATE LIST

In [2]:
alpha=['A','B','C','D']

In [6]:
alpha.append('E')    #for inserting last element

In [4]:
alpha

['A', 'B', 'C', 'D', 'E']

In [5]:
alpha.append('G')
alpha

['A', 'B', 'C', 'D', 'E', 'G']

In [11]:
values=[10,20,30,50]
#for inserting middle elements
#list_name.insert(index no,item)
values.insert(3,40)
values

[10, 20, 30, 40, 50]

In [12]:
values.append(60)

In [13]:
values

[10, 20, 30, 40, 50, 60]

In [14]:
#for extend
values.extend([70,80])
values

[10, 20, 30, 40, 50, 60, 70, 80]

In [15]:
#for merge two lists
habijabi=['ami','tumi']
values+habijabi

[10, 20, 30, 40, 50, 60, 70, 80, 'ami', 'tumi']

In [16]:
values.extend('ar koto')
values

[10, 20, 30, 40, 50, 60, 70, 80, 'a', 'r', ' ', 'k', 'o', 't', 'o']

In [17]:
values.extend(habijabi)
values

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 'a',
 'r',
 ' ',
 'k',
 'o',
 't',
 'o',
 'ami',
 'tumi']

In [19]:
habijabi.extend([alpha])
habijabi

['ami',
 'tumi',
 ['A', 'B', '3', '3', 3, 'C', 'D', 'E', 'G', 'E'],
 ['A', 'B', '3', '3', 3, 'C', 'D', 'E', 'G', 'E']]

# REMOVE ITEMS

In [20]:
del habijabi[2:]
habijabi

['ami', 'tumi']

In [21]:
del values[10]
values

[10, 20, 30, 40, 50, 60, 70, 80, 'a', 'r', 'k', 'o', 't', 'o', 'ami', 'tumi']

In [23]:
#for removing any single item    
#listname.revove(item)
values.remove('a','r')
values

TypeError: list.remove() takes exactly one argument (2 given)

In [24]:
values.remove('a')
values

[10, 20, 30, 40, 50, 60, 70, 80, 'r', 'k', 'o', 't', 'o', 'ami', 'tumi']

In [25]:
#for deleting last element
values.pop()

'tumi'

In [26]:
values

[10, 20, 30, 40, 50, 60, 70, 80, 'r', 'k', 'o', 't', 'o', 'ami']

In [37]:
#for deleting last 2 no index or 3 no index or any no of index element
del values[-1]
values

[10, 20, 30, 40, 50, 80, 'k']

In [28]:
del values[-5]
values

[10, 20, 30, 40, 50, 60, 70, 80, 'k', 'o', 't', 'o']

In [32]:
del values[-2]
values

[10, 20, 30, 40, 50, 80, 'k', 'o']

In [33]:
p=[1,2,3,4,5,6]
del p[-2]
p

[1, 2, 3, 4, 6]

In [34]:
del p[-2]

In [35]:
p

[1, 2, 3, 6]

In [38]:
del values[6:]

In [39]:
values

[10, 20, 30, 40, 50, 80]

In [40]:
values.insert(5,60)
values

[10, 20, 30, 40, 50, 60, 80]

In [41]:
values.insert(6,70)
values

[10, 20, 30, 40, 50, 60, 70, 80]

# LIST COUNT

In [2]:
values=[10,20,30,40,50,60,70,80]
values

[10, 20, 30, 40, 50, 60, 70, 80]

In [3]:
values+=[40,40,40]
values

[10, 20, 30, 40, 50, 60, 70, 80, 40, 40, 40]

In [4]:
values.count(40)

4

In [21]:
u=[4,5,6]
u

[4, 5, 6]

In [23]:
u+[7,8,]
u

[4, 5, 6]

In [24]:
u+=[7,8,]
u

[4, 5, 6, 7, 8]

# SORTING

In [7]:
t=['s','h','a','t','a','b','d','i']
sorted(t)

['a', 'a', 'b', 'd', 'h', 'i', 's', 't']

# LIST ITEM REPLACEMENT or ITEM ASSIGNMENT

In [18]:
uni=['buet','ruet','kuet','cuet']
uni

['buet', 'ruet', 'kuet', 'cuet']

In [19]:
uni[3]='du'
uni

['buet', 'ruet', 'kuet', 'du']

# how many items in list?

In [36]:
len(uni)

4

# TUPLE (item1,item2,....,itemn)

In [8]:
tup=('a',10,'b',80)
tup

('a', 10, 'b', 80)

In [9]:
type(t,tup)

TypeError: type() takes 1 or 3 arguments

In [10]:
type(t),type(tup)

(list, tuple)

In [14]:
#tuple indexing same as list
tup(2)

TypeError: 'tuple' object is not callable

In [12]:
tup[2]

'b'

In [15]:
#tuple slicing same as list
tup[1:]

(10, 'b', 80)

In [16]:
tup.append(90)
tup

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
tup.insert(2,90)
tup

AttributeError: 'tuple' object has no attribute 'insert'

In [20]:
tup[2]='c'
tup

TypeError: 'tuple' object does not support item assignment

In [25]:
tup

('a', 10, 'b', 80)

In [26]:
tup+(90,100)

('a', 10, 'b', 80, 90, 100)

In [27]:
tup+(110)

TypeError: can only concatenate tuple (not "int") to tuple

In [28]:
tup+(110,)    #comma is essential

('a', 10, 'b', 80, 110)

In [33]:
tup+=(120,)

In [34]:
tup

('a', 10, 'b', 80, 120, 120, 120)

# how many items in tuple?

In [35]:
len(tup)

7

# DICTIONARY