# IF

In [2]:
a=10
b=5
if a>b:
print(a)

IndentationError: expected an indented block after 'if' statement on line 3 (75276829.py, line 4)

In [7]:
a=10
b=5
if a>b:
    print(a)
    else:
        print(b)

SyntaxError: invalid syntax (4066997666.py, line 5)

In [8]:
a=5
b=20
if a>b:
    print("a is large")
else:
    print("b is large")

b is large

In [11]:
a=5                   #indentation effect
b=20
if a<b:
    print(a)
    print(a)
    print(a)
print(b)

5
5
5
20

In [16]:
a=20
b=20
if a>b:
    print("a")
elif a==b:
    print("equal")
else:
    print("b")

equal

# NESTED IF

In [3]:
a=50
b=20
c=200
if a>b:
    if a>c:
        print(a)
    else:
        print(c)
else:
    if b>c:
        print(b)
    else:
        print(c)

200

In [1]:
a=50
b=200
c=80
if ((a>b) & (a>c)):
    print("a")
else:
    if (b>c):
        print("b")
    elif (c>b):
        print("c")

b

# LOOP (for, while)

# WHILE

In [2]:
n=input()
while n<=10:
    print(n)
    n+=1

2

TypeError: '<=' not supported between instances of 'str' and 'int'

In [2]:
n=int(input())
print("The series is:")
while n<=10:
    print(n)
    n+=2
print("DONE")

2
The series is:
2
4
6
8
10
DONE

# BREAK

In [5]:
n=int(input())
print("The series is:")
while n<=10:
    if n==5:
        break
    print(n)
    n+=2
print("DONE")

1
The series is:
1
3
DONE

# CONTINUE

In [8]:
n=1
print("The series is:")
while n<=10:
    if n==5:
        n+=2
        continue
    print(n)
    n+=2
print("DONE")

The series is:
1
3
7
9
DONE

# FOR    ( for i in range(initial range, condition check, increament): )

In [9]:
for i in range(10)
    print(i)

SyntaxError: expected ':' (2733300111.py, line 1)

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [16]:
for i in range(5,11,2):
    print(i)

5
7
9

In [17]:
veg=['tomato','potato','sweet']    #using LIST
for v in veg:
    print(v)

tomato
potato
sweet

In [23]:
veg={'t':'tomato','p':'potato','s':'sweet'}    #using dictionary (for printing dictionary keys)
for v in veg:
    print(v)

t
p
s

In [24]:
veg={'t':'tomato','p':'potato','s':'sweet'}    #using dictionary 
for v in veg:
    print(v,values)

NameError: name 'values' is not defined

In [25]:
veg={'t':'tomato','p':'potato','s':'sweet'}    #using dictionary (for printing dictionary values)
for v in veg.values():
    print(v)

tomato
potato
sweet

In [37]:
# 10 er namota using FOR LOOP
for i in range(1,11):
    print("10 X ",i,"=",10*i)

10 X  1 = 10
10 X  2 = 20
10 X  3 = 30
10 X  4 = 40
10 X  5 = 50
10 X  6 = 60
10 X  7 = 70
10 X  8 = 80
10 X  9 = 90
10 X  10 = 100

In [42]:
# 10 er namota using WHILE LOOP
i=1
while i<=10:
    print("10 X ",i,"=",10*i)
    i+=1

10 X  1 = 10
10 X  2 = 20
10 X  3 = 30
10 X  4 = 40
10 X  5 = 50
10 X  6 = 60
10 X  7 = 70
10 X  8 = 80
10 X  9 = 90
10 X  10 = 100

In [11]:
# 10 er namota using WHILE LOOP and BREAK
j=10
for i in range (1,10):
    print(j,"x",i,"=",j*i)
    if i==4:
        break
    i+=1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40

In [17]:
n=['shatabdi','somu']
for num in n:
    print(num)

shatabdi
somu

In [18]:
numbers=[1,8,9,7,10,50]
for n in numbers:
    if n<9:
        print(n)

1
8
7

In [19]:
numbers=[1,8,9,7,10,50]
for n in numbers:
    if n<10:
        print(n)

1
8
9
7